Hola , buenos dias,tardes o noches ,este es mi primer proyecto de analisis de datos , he estado practicando algunos datos pero no llego a terminarlos porque no se que pasos seguir o llego hasta aun punto y no se que mas hacer , estoy haciendo una documentacion para que se pueda ver mas limpio este proyecto.

Soy algo inexperto en algunos campos asi que tendre algunos errores , tratare de explicar lo mas posible y culminar el proyecto.

La documentacion la saque de ([link de la infomracion/autor](https://github.com/francomanca93/analisis-de-datos))
este proyecto tiene como fin enseñar a algun estudiante que quiera ver como se podria hacer proyecto de analisis de datos y agregar algo mas a mi portafolio, sin mas comenzemos .

En este punto de año o para este año existe "Chat GPT" que es una herramiento de mucha ayuda pero no se deberia de usar demasiado creo yo , tratare de usar lo menos posible para ayudarme , me ayudare de documentacion de las librerias y no encontrar mas salidas , recurrare a otros proyectos parecidos y si no sera ayudarme con chatgpt.

In [3]:
# Importaremos librerias que previamente fuero instalados en nuestro entorno virtual , que consideo es un buena
# practica para hacerlo mas limpio

# Las librerias que necesitaremos seran "PANDAS" y "MATPLOTLIB"
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy

In [7]:
#Crearemos un dataframe el cual cargaremos el dato que trabajaremos y sera sobre el covid_19
df=pd.read_csv("archive/covid_19_data.csv")

# la funcion --> .head <-- sirve para imprimir los 5 primeros datos del dataframe que serian
# los 5 primeros columnas y 5 primeras filas , 
# comienza a partir del cero por que python lee desde el cero como primer numero
# df.head()

#con este codigo podemos ver todos los datos ,desde la primera fila hasta la ultima fila
display(df.head(5))

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [8]:
#ahora haces un informacion breve,podemos ver todos los datos y 
#la cantidad de datos que tiene todos las columnas , podemos ver si les falta datos o no
#podemos ver si hay datos nulos o faltantes cuando vemos una desigualdad 
#tambien podemos ver los tipos de datos que son int64,object,float64
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

In [11]:
display(df.sample())

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
60592,60593,07/09/2020,Chhattisgarh,India,2021-04-02 15:13:53,3675.0,15.0,2903.0

In [20]:
correlacion= df.select_dtypes(include='number').corr()
display(correlacion.corr())

                SNo  Confirmed    Deaths  Recovered
SNo        1.000000  -0.870841 -0.828601  -0.814164
Confirmed -0.870841   1.000000  0.960642   0.476260
Deaths    -0.828601   0.960642  1.000000   0.351147
Recovered -0.814164   0.476260  0.351147   1.000000

In [23]:
#de esta manera ya se entiende mejor
#aqui podemos ver los datos nulos
#y con la variable sum() estariamos sumando todos los datos nulos de cada columna para 
#que no sea algo repetitivo
print(f'Datos Nulos:\n{df.isna().sum()}')

Datos Nulos:
SNo                0
ObservationDate    0
Province/State     0
Country/Region     0
Last Update        0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

In [19]:
df['Province/State'].unique()

array(['Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Taiwan',
       'Tianjin', 'Tibet', 'Washington', 'Xinjiang', 'Yunnan', 'Zhejiang',
       nan, 'Unknown', 'Chicago', 'Illinois', 'California', 'Arizona',
       'Ontario', 'New South Wales', 'Victoria', 'British Columbia',
       'Bavaria', 'Queensland', 'Chicago, IL', 'South Australia',
       'Boston, MA', 'Los Angeles, CA', 'Orange, CA', 'Santa Clara, CA',
       'Seattle, WA', 'Tempe, AZ', 'San Benito, CA', 'Toronto, ON',
       'London, ON', 'Madison, WI', 'Cruise Ship',
       'Diamond Princess cruise ship', 'San Diego County, CA',
       'San Antonio, TX', 'Ashland, NE', 'Travis, CA',
       'From Diamond Princess', 'Lackland, TX', 'Humboldt County, CA',
       'Sacramento County, CA', 'Omaha, NE (From Diamond Princess)',
       'Travis, CA (From Diamond Princess)',
       'Lackland, TX (From Diamond Princess)',
       'Unassigned Location (From Diamond Princess)', ' Montreal, QC',
       'Western Australia', 'Portland, OR', 'Snohomish County, WA',
       'Providence, RI', 'King County, WA', 'Cook County, IL', 'Tasmania',
       'Grafton County, NH', 'Hillsborough, FL', 'New York City, NY',
       'Placer County, CA', 'San Mateo, CA', 'Sarasota, FL',
       'Sonoma County, CA', 'Umatilla, OR', 'Fulton County, GA',
       'Washington County, OR', ' Norfolk County, MA', 'Berkeley, CA',
       'Maricopa County, AZ', 'Wake County, NC', 'Westchester County, NY',
       'Orange County, CA', 'Northern Territory',
       'Contra Costa County, CA', 'Bergen County, NJ',
       'Harris County, TX', 'San Francisco County, CA',
       'Clark County, NV', 'Fort Bend County, TX', 'Grant County, WA',
       'Queens County, NY', 'Santa Rosa County, FL',
       'Williamson County, TN', 'New York County, NY',
       'Unassigned Location, WA', 'Montgomery County, MD',
       'Suffolk County, MA', 'Denver County, CO', 'Summit County, CO',
       'Calgary, Alberta', 'Chatham County, NC', 'Delaware County, PA',
       'Douglas County, NE', 'Fayette County, KY', 'Floyd County, GA',
       'Marion County, IN', 'Middlesex County, MA', 'Nassau County, NY',
       'Norwell County, MA', 'Ramsey County, MN', 'Washoe County, NV',
       'Wayne County, PA', 'Yolo County, CA', 'Santa Clara County, CA',
       'Grand Princess Cruise Ship', 'Douglas County, CO',
       'Providence County, RI', 'Alameda County, CA',
       'Broward County, FL', 'Fairfield County, CT', 'Lee County, FL',
       'Pinal County, AZ', 'Rockland County, NY', 'Saratoga County, NY',
       'Edmonton, Alberta', 'Charleston County, SC', 'Clark County, WA',
       'Cobb County, GA', 'Davis County, UT', 'El Paso County, CO',
       'Honolulu County, HI', 'Jackson County, OR ',
       'Jefferson County, WA', 'Kershaw County, SC', 'Klamath County, OR',
       'Madera County, CA', 'Pierce County, WA', 'Plymouth County, MA',
       'Santa Cruz County, CA', 'Tulsa County, OK',
       'Montgomery County, TX', 'Norfolk County, MA',
       'Montgomery County, PA', 'Fairfax County, VA',
       'Rockingham County, NH', 'Washington, D.C.',
       'Berkshire County, MA', 'Davidson County, TN',
       'Douglas County, OR', 'Fresno County, CA', 'Harford County, MD',
       'Hendricks County, IN', 'Hudson County, NJ', 'Johnson County, KS',
       'Kittitas County, WA', 'Manatee County, FL', 'Marion County, OR',
       'Okaloosa County, FL', 'Polk County, GA', 'Riverside County, CA',
       'Shelby County, TN', 'Spokane County, WA', 'St. Louis County, MO',
       'Suffolk County, NY', 'Ulster County, NY',
       'Unassigned Location, VT', 'Unknown Location, MA',
       'Volusia County, FL', 'Alberta', 'Quebec', 'Johnson County, IA',
       'Harrison County, KY', 'Bennington County, VT',
       'Carver County, MN', 'Charlotte County, FL', 'Cherokee County, GA',
       'Collin County, TX', 'Jefferson County, KY',
       'Jefferson Parish, LA', 'Shasta County, CA',
       'Spartanburg County, SC', 'New York', 'Massachusetts',
       'Grand Princess', 'Georgia', 'Colorado', 'Florida', 'New Jersey',
       'Oregon', 'Texas', 'Pennsylvania', 'Iowa', 'Maryland',
       'North Carolina', 'South Carolina', 'Tennessee', 'Virginia',
       'Indiana', 'Kentucky', 'District of Columbia', 'Nevada',
       'New Hampshire', 'Minnesota', 'Nebraska', 'Ohio', 'Rhode Island',
       'Wisconsin', 'Connecticut', 'Hawaii', 'Oklahoma', 'Utah', 'Kansas',
       'Louisiana', 'Missouri', 'Vermont', 'Alaska', 'Arkansas',
       'Delaware', 'Idaho', 'Maine', 'Michigan', 'Mississippi', 'Montana',
       'New Mexico', 'North Dakota', 'South Dakota', 'West Virginia',
       'Wyoming', 'France', 'UK', 'Denmark', 'Faroe Islands', 'St Martin',
       'Channel Islands', 'New Brunswick', 'Saint Barthelemy',
       'Gibraltar', 'Australian Capital Territory', 'United Kingdom',
       'French Polynesia', 'Manitoba', 'Saskatchewan', 'Alabama',
       'Fench Guiana', 'Puerto Rico', 'Virgin Islands, U.S.',
       'French Guiana', 'Guam', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Mayotte', 'Netherlands', 'Nova Scotia',
       'Guadeloupe', 'Curacao', 'Virgin Islands', 'Cayman Islands',
       'Reunion', 'Aruba', 'United States Virgin Islands', 'US',
       'Montserrat', 'Greenland', 'New Caledonia', 'Bermuda',
       'Sint Maarten', 'Isle of Man', 'Northwest Territories',
       'American Samoa', 'External territories', 'Jervis Bay Territory',
       'Martinique', 'Northern Mariana Islands', 'Nunavut',
       'Saint Helena, Ascension and Tristan da Cunha', 'Wuhan Evacuee',
       'Recovered', 'Yukon', 'Anguilla', 'British Virgin Islands',
       'Turks and Caicos Islands', 'Bonaire, Sint Eustatius and Saba',
       'Falkland Islands (Islas Malvinas)', 'Saint Pierre and Miquelon',
       'Falkland Islands (Malvinas)', 'Abruzzo', 'Andalusia', 'Aragon',
       'Asturias', 'Baden-Wurttemberg', 'Baleares', 'Basilicata',
       'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'C. Valenciana',
       'Calabria', 'Campania', 'Canarias', 'Cantabria',
       'Castilla - La Mancha', 'Castilla y Leon', 'Catalonia', 'Ceuta',
       'Emilia-Romagna', 'Extremadura', 'Friuli Venezia Giulia',
       'Galicia', 'Hamburg', 'Hessen', 'La Rioja', 'Lazio', 'Liguria',
       'Lombardia', 'Madrid', 'Marche', 'Mecklenburg-Vorpommern',
       'Melilla', 'Molise', 'Murcia', 'Navarra', 'Niedersachsen',
       'Nordrhein-Westfalen', 'P.A. Bolzano', 'P.A. Trento', 'Pais Vasco',
       'Piemonte', 'Puglia', 'Rheinland-Pfalz', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Sardegna', 'Schleswig-Holstein', 'Sicilia',
       'Thuringen', 'Toscana', 'Umbria', "Valle d'Aosta", 'Veneto',
       'Acre', 'Aguascalientes', 'Alagoas', 'Amapa', 'Amazonas',
       'Antofagasta', 'Araucania', 'Arica y Parinacota', 'Atacama',
       'Aysen', 'Bahia', 'Baja California', 'Baja California Sur',
       'Biobio', 'Campeche', 'Ceara', 'Chiapas', 'Chihuahua',
       'Ciudad de Mexico', 'Coahuila', 'Colima', 'Coquimbo',
       'Distrito Federal', 'Durango', 'Espirito Santo', 'Goias',
       'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Los Lagos',
       'Los Rios', 'Magallanes', 'Maranhao', 'Mato Grosso',
       'Mato Grosso do Sul', 'Maule', 'Metropolitana', 'Mexico',
       'Michoacan', 'Minas Gerais', 'Morelos', 'Nayarit', 'Nuble',
       'Nuevo Leon', 'OHiggins', 'Oaxaca', 'Para', 'Paraiba', 'Parana',
       'Pernambuco', 'Piaui', 'Puebla', 'Queretaro', 'Quintana Roo',
       'Rio Grande do Norte', 'Rio Grande do Sul', 'Rio de Janeiro',
       'Rondonia', 'Roraima', 'San Luis Potosi', 'Santa Catarina',
       'Sao Paulo', 'Sergipe', 'Sinaloa', 'Sonora', 'Tabasco',
       'Tamaulipas', 'Tarapaca', 'Tlaxcala', 'Tocantins', 'Valparaiso',
       'Veracruz', 'Yucatan', 'Zacatecas', 'Aichi', 'Akita', 'Ancash',
       'Antioquia', 'Aomori', 'Apurimac', 'Arauca', 'Arequipa',
       'Atlantico', 'Ayacucho', 'Bolivar', 'Boyaca', 'Cajamarca',
       'Caldas', 'Callao', 'Capital District', 'Caqueta', 'Casanare',
       'Cauca', 'Cesar', 'Chiba', 'Choco', 'Cordoba', 'Cundinamarca',
       'Cusco', 'Ehime', 'Fukui', 'Fukuoka', 'Fukushima', 'Gifu', 'Gunma',
       'Hiroshima', 'Hokkaido', 'Huancavelica', 'Huanuco', 'Huila',
       'Hyogo', 'Ibaraki', 'Ica', 'Ishikawa', 'Junin', 'Kagawa',
       'Kagoshima', 'Kanagawa', 'Kochi', 'Kumamoto', 'Kyoto',
       'La Guajira', 'La Libertad', 'Lambayeque', 'Lima', 'Loreto',
       'Madre de Dios', 'Magdalena', 'Meta', 'Mie', 'Miyagi', 'Miyazaki',
       'Moquegua', 'Nagano', 'Nagasaki', 'Nara', 'Narino', 'Niigata',
       'Norte de Santander', 'Oita', 'Okayama', 'Okinawa', 'Osaka',
       'Pasco', 'Piura', 'Port Quarantine', 'Puno', 'Putumayo', 'Quindio',
       'Risaralda', 'Saga', 'Saitama', 'San Andres y Providencia',
       'San Martin', 'Santander', 'Shiga', 'Shimane', 'Shizuoka', 'Sucre',
       'Tacna', 'Tochigi', 'Tokushima', 'Tokyo', 'Tolima', 'Tottori',
       'Toyama', 'Tumbes', 'Ucayali', 'Valle del Cauca', 'Vaupes',
       'Wakayama', 'Yamagata', 'Yamaguchi', 'Yamanashi', 'Guainia',
       'Vichada', 'Adygea Republic', 'Altai Krai', 'Altai Republic',
       'Amur Oblast', 'Arkhangelsk Oblast', 'Astrakhan Oblast',
       'Bashkortostan Republic', 'Belgorod Oblast', 'Bryansk Oblast',
       'Buryatia Republic', 'Chechen Republic', 'Chelyabinsk Oblast',
       'Cherkasy Oblast', 'Chernihiv Oblast', 'Chernivtsi Oblast',
       'Chukotka Autonomous Okrug', 'Chuvashia Republic',
       'Crimea Republic*', 'Dagestan Republic', 'Dnipropetrovsk Oblast',
       'Donetsk Oblast', 'Ingushetia Republic', 'Irkutsk Oblast',
       'Ivano-Frankivsk Oblast', 'Ivanovo Oblast',
       'Jewish Autonomous Okrug', 'Kabardino-Balkarian Republic',
       'Kaliningrad Oblast', 'Kalmykia Republic', 'Kaluga Oblast',
       'Kamchatka Krai', 'Karachay-Cherkess Republic', 'Karelia Republic',
       'Kemerovo Oblast', 'Khabarovsk Krai', 'Khakassia Republic',
       'Khanty-Mansi Autonomous Okrug', 'Kharkiv Oblast',
       'Kherson Oblast', 'Khmelnytskyi Oblast', 'Kiev', 'Kiev Oblast',
       'Kirov Oblast', 'Kirovohrad Oblast', 'Komi Republic',
       'Kostroma Oblast', 'Krasnodar Krai', 'Krasnoyarsk Krai',
       'Kurgan Oblast', 'Kursk Oblast', 'Leningrad Oblast',
       'Lipetsk Oblast', 'Luhansk Oblast', 'Lviv Oblast',
       'Magadan Oblast', 'Mari El Republic', 'Mordovia Republic',
       'Moscow', 'Moscow Oblast', 'Murmansk Oblast', 'Mykolaiv Oblast',
       'Nenets Autonomous Okrug', 'Nizhny Novgorod Oblast',
       'North Ossetia - Alania Republic', 'Novgorod Oblast',
       'Novosibirsk Oblast', 'Odessa Oblast', 'Omsk Oblast',
       'Orel Oblast', 'Orenburg Oblast', 'Penza Oblast', 'Perm Krai',
       'Poltava Oblast', 'Primorsky Krai', 'Pskov Oblast', 'Rivne Oblast',
       'Rostov Oblast', 'Ryazan Oblast', 'Saint Petersburg',
       'Sakha (Yakutiya) Republic', 'Sakhalin Oblast', 'Samara Oblast',
       'Saratov Oblast', 'Sevastopol*', 'Smolensk Oblast',
       'Stavropol Krai', 'Sumy Oblast', 'Sverdlovsk Oblast',
       'Tambov Oblast', 'Tatarstan Republic', 'Ternopil Oblast',
       'Tomsk Oblast', 'Tula Oblast', 'Tver Oblast', 'Tyumen Oblast',
       'Tyva Republic', 'Udmurt Republic', 'Ulyanovsk Oblast',
       'Vinnytsia Oblast', 'Vladimir Oblast', 'Volgograd Oblast',
       'Vologda Oblast', 'Volyn Oblast', 'Voronezh Oblast',
       'Yamalo-Nenets Autonomous Okrug', 'Yaroslavl Oblast',
       'Zabaykalsky Krai', 'Zakarpattia Oblast', 'Zaporizhia Oblast',
       'Zhytomyr Oblast', 'Blekinge', 'Dalarna', 'Gavleborg', 'Gotland',
       'Halland', 'Jamtland Harjedalen', 'Jonkoping', 'Kalmar',
       'Kronoberg', 'Norrbotten', 'Orebro', 'Ostergotland', 'Skane',
       'Sormland', 'Stockholm', 'Uppsala', 'Varmland', 'Vasterbotten',
       'Vasternorrland', 'Vastmanland', 'Vastra Gotaland', 'Guaviare',
       'Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Azad Jammu and Kashmir',
       'Balochistan', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadar Nagar Haveli', 'Delhi', 'Gilgit-Baltistan', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Islamabad',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Khyber Pakhtunkhwa', 'Ladakh', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Sindh',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal',
       'Dadra and Nagar Haveli and Daman and Diu', 'England',
       'Northern Ireland', 'Scotland', 'Wales', 'Drenthe', 'Flevoland',
       'Friesland', 'Gelderland', 'Groningen', 'Limburg', 'Noord-Brabant',
       'Noord-Holland', 'Overijssel', 'Utrecht', 'Zeeland',
       'Zuid-Holland', 'Iwate', 'Lakshadweep', 'Antwerp', 'Brussels',
       'East Flanders', 'Flemish Brabant', 'Hainaut', 'Liege',
       'Luxembourg', 'Namur', 'Walloon Brabant', 'West Flanders',
       'Repatriated Travellers', 'Wallis and Futuna'], dtype=object)

In [22]:
# Aqui estamos filtrando todos los valores nulos , no deberia de eliminarlos por que me va faltar informacion
# creo que seria una mala practica

df['Province/State']=df['Province/State'].fillna('NA')

ahora con todos los datos ya corregidos y sin haber valores nulos , tocaria graficarlos