Hola , buenos dias,tardes o noches ,este es mi primer proyecto de analisis de datos , he estado practicando algunos datos pero no llego a terminarlos porque no se que pasos seguir o llego hasta aun punto y no se que mas hacer , estoy haciendo una documentacion para que se pueda ver mas limpio este proyecto.

Soy algo inexperto en algunos campos asi que tendre algunos errores , tratare de explicar lo mas posible y culminar el proyecto.

La documentacion la saque de ([link de la infomracion/autor](https://github.com/francomanca93/analisis-de-datos))
este proyecto tiene como fin enseñar a algun estudiante que quiera ver como se podria hacer proyecto de analisis de datos y agregar algo mas a mi portafolio, sin mas comenzemos .

En este punto de año o para este año existe "Chat GPT" que es una herramiento de mucha ayuda pero no se deberia de usar demasiado creo yo , tratare de usar lo menos posible para ayudarme , me ayudare de documentacion de las librerias y no encontrar mas salidas , recurrare a otros proyectos parecidos y si no sera ayudarme con chatgpt.

In [1]:
# Importaremos librerias que previamente fuero instalados en nuestro entorno virtual , que consideo es un buena
# practica para hacerlo mas limpio

# Las librerias que necesitaremos seran "PANDAS" y "MATPLOTLIB"
import pandas as pd

In [ ]:
#Crearemos un dataframe el cual cargaremos el dato que trabajaremos y sera sobre el covid_19
df=pd.read_csv("archive/covid_19_data.csv")

# la funcion --> .head <-- sirve para imprimir los 5 primeros datos del dataframe que serian
# los 5 primeros columnas y 5 primeras filas , 
# comienza a partir del cero por que python lee desde el cero como primer numero
# df.head()

#con este codigo podemos ver todos los datos ,desde la primera fila hasta la ultima fila
display(df)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [14]:
#ahora haces un informacion breve,podemos ver todos los datos y 
#la cantidad de datos que tiene todos las columnas , podemos ver si les falta datos o no
#podemos ver si hay datos nulos o faltantes cuando vemos una desigualdad 
#tambien podemos ver los tipos de datos que son int64,object,float64
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB
Informacion breve:
None

In [ ]:
print(f'Datos Nulos:\n{df.isna().sum()}')

Datos Nulos:
SNo                    0
ObservationDate        0
Province/State     78103
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64